extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = home
  - var desktop  = home.data.backgroundImage.url
  - var tablet  = home.data.backgroundImage.tablet.url
  - var mobile  = home.data.backgroundImage.mobile.url
  -var collaborazione =home.data.immagine_collaborazione.url

block body
  style(type="text/css").
       .homepage-banner{
            background-image:url(#{desktop});


            background-repeat:no-repeat;
            background-size:content;
         }

        .immagine-collaborazione{
          background-repeat:no-repeat;
          background-size:cover;
          display:flex;
          justify-content:center;
          flex-direction:column;
          text-align:center;
          background-image:url(#{collaborazione});
          height:400px;


        }


       @media only screen and (max-width:768px){
          .homepage-banner{
            background-image:url(#{tablet});
            height:50vh;


         }
       }
           @media only screen and (max-width:400px){
          .homepage-banner{
            background-image:url(#{mobile});
            height:500px;


         }
         .banne{
           color:red;
           font-size:40px;
         }
      }

  .homepage(style='background:#100605;')

    -// Homepage Banner Section
    section.homepage-banner.banner-home

      .banner-content.grid-container.banner-home
        h2.banner-title.font-ultra-bold.text-dorato-immagine
          != RichText.asText(home.data.motto)
    section.banner-section-site
      h2.titolo-sezioni.font-ultra-bold.font-mont
        != RichText.asText(home.data.titolo_sezioni)
      .container.black-container
        .row
          .col-md-4.card.card-storia
            h2.card-title.text-center.text-dorato.font-ultra-bold
              != RichText.asText(home.data.titolo_storia)


            p
              != RichText.asText(home.data.descrizione_storia)
            .card-footer
              a(href='/'+home.lang+'/storia').float-right

                i.far.fa-arrow-alt-circle-right.text-dorato


          .col-md-4.card.card-storia
            h2.card-title.text-center.text-center.text-dorato.font-ultra-bold
              != RichText.asText(home.data.titolo_gruppo)
            p
              != RichText.asText(home.data.descrizione_gruppo)
            .card-footer
              a.float-right.icon(href=ctx.linkResolver(home.data.link_prodotto))
                i.far.fa-arrow-alt-circle-right.text-dorato
          .col-md-4.card.card-storia
            h2.card-title.text-center.text-center.text-dorato.font-ultra-bold
              != RichText.asText(home.data.i_valori)
            p
              != RichText.asText(home.data.descrizione_valori)
            .card-footer
               a.float-right.icon(href='/'+home.lang+'/servizi')
                i.far.fa-arrow-alt-circle-right.text-dorato
    .container-fluid.mb-5.pb-2
         h2.text-center.testo-dorato.text-upper.mt-5.mb-5.font-ultra-bold
          != RichText.asText(home.data.scopri_prodotto)
         #slideProdotti
                each prod in prodotto

                      .row.container-background.mr-0.pr-0

                          .col-md-6.wow.bounceInUp
                              img.img-fluid(src=prod.data.image.url, alt="")
                          .col-md-6.d-flex.flex-column.justify-content-center
                            div(style='min-height:450px;display:flex;flex-direction:column;justify-content:center')
                                h5.text-upper.testo-dorato.text-extra-bold
                                   != RichText.asText(prod.data.title)
                                p.text-black.pb-3
                                  != RichText.asText(prod.data.descrizione_prodotto)
                                a.text-dorato(href=('/'+prod.lang+"/prodotto/"+prod.uid))
                                  != RichText.asText(prod.data.scopri)

    .container-fluid.mt-5.mb-5
              .container.immagine-collaborazione.mb-5
                h2.text-dorato.text-upper.text-extra-bold.titolo-collaborazione
                  !=RichText.asText(home.data.titolo_collaborazione)
                p.text-bianco.descrizione-collaborazione.text-upper
                  !=RichText.asText(home.data.descrizione_collaborazione)
                a.linkContatti.text-center.display-4(href='/'+home.lang+'/contatti')
                    i.far.fa-arrow-alt-circle-right.text-dorato



