header#header
  - var homeUrl = `/${I18N.current}`;
  .sidebar
      .container-fluid
        span.float-right.chiudi X


      ul.menu-list


        li.animation-menu
          a(href=Link.url(menu.data.linkhome, ctx.linkResolver),class= (title  === menu.data.linkhome.type) ? 'text-bold ': '')
            != RichText.asText(menu.data.home)
        li.animation-menu
         a(href=Link.url(menu.data.linkazienda, ctx.linkResolver),class= (title  === menu.data.linkazienda.type) ? 'text-bold ': '')
            != RichText.asText(menu.data.azienda)

        li.wrapper-categoria
          div.categorie.pb-3.mt-5
            h5.text-upper.mt-2.animation-menu
              != RichText.asText(menu.data.i_nostri_prodott)
            ul.lista-categorie
               each linkItem in menu.data.menu_links
                li.animation-menu
                  a(href=Link.url(linkItem.link, ctx.linkResolver))
                    != RichText.asText(linkItem.label_link)



        li.animation-menu
           a(href=Link.url(menu.data.linkservizi, ctx.linkResolver),class= (title === menu.data.linkservizi.type) ? 'text-bold ': '')
            != RichText.asText(menu.data.servizi)
        li.animation-menu
          a(href=Link.url(menu.data.linkcontatti, ctx.linkResolver), class= (title ===menu.data.linkcontatti.type) ? 'text-bold ': '')
            != RichText.asText(menu.data.contatti)






      button.sidebarBtn(type='button' id='sidebarbtn')
        span


  //
    .logo
      img(src=menu.data.logo_brand.url width='100px')


  //
    nav
      ul
        if menu
          each linkItem in menu.data.menuLinks
            li
              a(href=Link.url(linkItem.link, ctx.linkResolver))
                != linkItem.label

          li.lang
            include ./language-selector
  .logo-container
         img(src=menu.data.logo_brand.url )
  .container-language

        for lang in I18N.languages
            - var selected = lang.key === I18N.current ? true : false;
            - var alternateDocLink = activeDoc.alternate_languages.find(al => al.lang === lang.key);
            - var alternateUrl = selected ? ctx.linkResolver(activeDoc) : (alternateDocLink ? ctx.linkResolver(alternateDocLink) : '');


              if lang.label === 'Italiano'
                a(value=lang.key href=alternateUrl )
                    img(src=menu.data.icon_ita.url class=(lang.key === I18N.current) ? 'lingua-scelta' : 'overl')
              if lang.label === 'English'
                a(value=lang.key href=alternateUrl  )
                    img(src=menu.data.icon_eng.url class=(lang.key === I18N.current) ? 'lingua-scelta' : 'overl')





